---
import TV from '@/components/TV.astro'
import Layout from '@/layouts/Layout.astro'
---

<script>
    const container = document.querySelector('div[data-link]')
    if (container) {
        window.location.pathname.replace(/\/+$/, '').split('/').forEach((path, i, arr) => {
            const a = document.createElement('a')
            a.href = '/' + arr.slice(1, i+1).join('/')
            a.textContent = i > 0 ? '/' + path : window.location.origin
            a.classList.add('opacity-80', 'hover:opacity-100', 'hover:underline')
            if (i === 0) {
                a.classList.add('text-blue-600', 'dark:text-blue-500', 'font-medium')
            } else if (i === arr.length - 1) {
                a.classList.add('text-red-600', 'dark:text-red-500', 'font-medium')
            } else {
                a.classList.add('text-gray-500', 'dark:text-gray-400')
            }
            container.appendChild(a)
        })
    }
</script>

<Layout title="page not found">
    <div class="flex flex-col items-center justify-center h-full">
        <h1 class="font-bold text-7xl">
            404
        </h1>
        <p class="font-medium text-red-600 dark:text-red-500">
            page not found
        </p>
        <div data-link class="flex flex-wrap align-middle justify-center gap-0.5 p-2">
        </div>
    </div>
    <TV/>
</Layout>