---
import Layout from '@layouts/Layout.astro';
import projects from 'projects.json'
import Projects from '@components/Projects.svelte'
---

<Layout title="eu ler's quest to make stuff">
	<h1 class="text-4xl p-4 sm:p-12 dark:text-gray-100 leading-snug">
		<a class="group" href="https://eu.ler.sg">
			<span class="relative font-semibold">
				<div class="absolute h-3 group-hover:h-full bottom-0 -left-1 -right-1 group-hover:-right-7 transition-all -z-10 rounded-sm group-hover:rounded-md bg-gradient-to-r from-sky-500 to-violet-500 opacity-70"/>
				eu ler</span>'s
		</a>
		quest<br/>to make stuff
	</h1>
	<section>
		<Projects projects={projects} client:load/>
	</section>
</Layout>