<div class="p-0.5 flex gap-4 justify-center sm:justify-start">
    <a href="/" class="hover:underline">
        <img src="/icons/favicon.svg" class="h-6 w-6 mb-0.5 me-1 inline" alt="🚀"/><span class="font-semibold">ler</span>.quest
    </a>
    <a href="https://ler.sg" class="hover:underline opacity-80">
        <span class="font-medium">ler</span>.sg
    </a>
</div>

<style>
    a {
        color: rgba(var(--text), 0.9);
    }
</style>