<aside class="flex justify-center">
    <input id="preview-notice" class="peer hidden" type="checkbox"/>
    <div class="fixed flex items-center gap-2 top-4 mx-2 p-2 px-4 rounded-xl shadow-md bg-yellow-300 dark:bg-yellow-500 text-black peer-checked:hidden z-50">
        <span >This is a <span class="font-medium">preview build</span> of <a href="https://ler.quest" class="underline">ler.quest</a>.</span>
        <label for="preview-notice" class="cursor-pointer shrink-0" aria-label="Close notice">
            <svg viewBox="0 0 24 24" class="icon h-5 w-5"><path d="M18 6l-12 12"/><path d="M6 6l12 12"/></svg>
        </label>
    </div>
</aside>