<button class="hover:drop-shadow-xl hover:scale-110 active:scale-105 transition-all" id="theme-switch" aria-label="Toggle theme">
    <img class="block dark:hidden w-10 h-10" src="/icons/theme-light.png" width="40" height="40" srcset="/icons/theme-light-64.webp 64w, /icons/theme-light-128.webp 128w, /icons/theme-light-256.webp 256w" alt="" loading="lazy"/>
    <img class="hidden dark:block w-10 h-10" src="/icons/theme-dark.png" width="40" height="40" srcset="/icons/theme-dark-64.webp 64w, /icons/theme-dark-128.webp 128w, /icons/theme-dark-256.webp 256w" alt="" loading="lazy"/>
</button>

<script>
    const update = () => {
        const dark = document.documentElement.classList.contains('dark')
        localStorage.setItem('appearance:dark', dark+':'+mediaDark.matches)
    }

    let mediaDark = matchMedia('(prefers-color-scheme: dark)')
    mediaDark.addEventListener('change', ()=>{
        if (mediaDark.matches) document.documentElement.classList.add('dark')
        else document.documentElement.classList.remove('dark')
        update()
    })
    
    document.getElementById('theme-switch').addEventListener('click', ()=>{
        document.documentElement.classList.toggle('dark')
        update()
    })
</script>

<script is:inline id="theme-script">
    const system = matchMedia('(prefers-color-scheme: dark)').matches
    const stored = (localStorage.getItem('appearance:dark') || '').split(':')
    let dark = false
    if (stored[1] === system.toString() && (stored[0] === 'true' || stored[0] === 'false')) dark = stored[0] === 'true'
    else dark = system
    if (dark) document.documentElement.classList.add('dark')
    else document.documentElement.classList.remove('dark')

    document.getElementById('theme-script').remove() // cleanup :)
</script>